@import "./../../variables.scss";

//navbar

.lightblue {
    color: #48BFE3;
}

.copyright {
    height: 16px;
    color: #48BFE3;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
}

.piva {
    height: 16px;
    color: #48BFE3;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
}

