@import "./../../../variables.scss";

.page {
    padding-top: 50px;
}

.listElement {
    min-width: 350px;
}

.rightPanel {
    border-left: 2px #3A0CA3 solid;
}

.topPanel {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px #3A0CA3 solid;
}

.title {
    font-size: 24px;
}
